frontend/src/img/welcome-page-video-placeholder.png filter=lfs diff=lfs merge=lfs -text
frontend/src/img/start-profiling.png filter=lfs diff=lfs merge=lfs -text
frontend/src/img/access-playground.png filter=lfs diff=lfs merge=lfs -text
